HELP.md 
# User-specific stuff
TestObject.kt

**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/**/usage.statistics.xml
**/.idea/**/dictionaries
**/.idea/**/shelf
**/.idea/**/contentModel.xml 
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml
**/.idea/**/uiDesigner.xml
**/.idea/**/dbnavigator.xml
**/test.properties

**/.idea/**/gradle.xml
**/.idea/**/libraries 
**/.idea/modules.xml
**/.idea/*.iml
**/.idea/modules
**/cmake-build-*/ 
.idea/**/mongoSettings.xml 
*.iws 
**/out/ 
**/.idea_modules/ 
**/.idea/httpRequests 
.idea/caches/build_file_checksums.ser

*.iml
**/modules.xml
**/.idea/misc.xml
*.ipr 
**/.idea/sonarlint 
*.class 
*.log 
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar 
**/hs_err_pid* 

!lib/*.jar


*.iml
**/.gradle
**/local.properties
**/.idea/caches
**/.idea/libraries
**/.idea/modules.xml
**/.idea/workspace.xml
**/.idea/navEditor.xml
**/.idea/assetWizardSettings.xml
**/.DS_Store
**/build
**/captures
**/.externalNativeBuild
*.otf
*.ttf 

application/app/.attach_pid16453
application/gradle/**
